*{
    margin: 0;
    padding: 0;
    border: 0;

}

.nav-buttons{
    background-color: darkgrey;
    height: 30px;;
    width: 500px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
}
.siguiente-button{

}

.siguiente-button a{
    text-decoration: none;
    color: black;
    float: right;
    
}

.anterior-button{
   
}

.anterior-button a{
    text-decoration: none;
    color: black;
    float: left;
    margin-left: 5px;
}

