/* *{

} */
body{
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items:  center;

}
h3{
    color: lightgrey;
    margin: 60px 0;
}

.container{
    background-color: white;
    border-radius: 15px;
    height: 80vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.firstContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
[class^="box"] {
    background-color: lightgrey;
    border-radius: 10px;
    width: 25vw;
    height: 30px;
    margin: 10px 0;
}
.secondContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    padding-bottom: 80px;
}
.circleContainer{
    background-color: lightgray;
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}
.lineContainer{
    background-color: lightgrey;
    border-radius: 10px;
    width: 10vw;
    height: 30px;
    margin: 10px 0;
}

